<!DOCTYPE html>
{% extends "base.html" %} <!-- Extendemos del BASE.html en la raiz de templates-->
{% load custom_filters  %}
{% block content %} <!--Cargamos el bloque en la raiz para modificarlo-->
{% load static %} <!-- Cargamos los archivos ESTATICOS para la pagina-->


<html>

<head>
  <title>Mis Pacientes</title>
  <link rel="stylesheet" href='{% static "css/pacientes_estudiante.css" %}'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="content">
    <div class="sidebar">
      <h2>Perfil</h2>
      <a href="{% url 'infoestudiante' %}">Modificar Perfil</a>

      <h2>Mis Pacientes</h2>
      <a href="{% url 'pacientes_est' %}">Ver Pacientes</a>

      <h2>Notificaciones</h2>
      <a href="{% url 'notificaciones' %}">Ver Notificaciones</a>

      <h2>Mi Calendario</h2>
      <a href="{% url 'calendario' %}">Organizar horarios</a>
    </div>
    <div class="pacientesCss">
      <div>
        <h1>Mis Pacientes</h1>
        {% for paciente in pacientes %}
            <div class="patient-card">
                <div class="patient-info">
                    <h3>{{ paciente.first_name }} {{ paciente.last_name }}</h3>
                    <p>
                        {% if paciente.id in tratamientos_por_paciente %}
                            {% with tratamiento_info=tratamientos_por_paciente|get_item:paciente.id %}
                                Próximo tratamiento: {{ tratamiento_info.tratamiento }}<br>
                                Fecha: {{ tratamiento_info.fecha }}<br>
                                Hora: {{ tratamiento_info.hora }}
                            {% endwith %}
                        {% else %}
                            No hay registros de tratamiento recientes.
                        {% endif %}
                    </p>
                    <a href="{% url 'crear_ficha_paciente' paciente.id %}">
                        <button class="button">Crear Ficha</button>
                    </a>
                    <a href="{% url 'crear_historial_medico' paciente.id %}">
                        <button class="button">Crear Historial</button>
                    </a>
                    <a href="{% url 'ver_ficha_clinica' paciente.id %}" class="btn btn-info mb-3">
                        Ver Ficha Clínica
                    </a>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>




  <!-- Bloque para mostrar mensajes de Django -->
  {% if messages %}
  <div class="alert-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% endblock %}
</body>

</html>