<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Mis Pacientes</title>
  <link rel="stylesheet" href='{% static "css/pacientes_estudiante.css" %}'>
</head>
<body>

  <div class="container">
    <div class="sidebar">
      <h3>Mi Perfil</h3>
      <a href="infopersonal.html">Modificar Perfil</a>

      <h3>Mis Pacientes</h3>
      <a href="pacientes_estudiante.html">Ver Pacientes</a>

      <h3>Publicacion</h3>
      <a href="publicacion_estudiante.html">Ver Publicación lodont</a>

      <h3>Notificaciones</h3>
      <a href="notificaciones_estudiante.html">Ver notificaciones</a>

      <h3>Mi Calendario</h3>
      <a href="calendario_est.html">Organizar Horarios</a>
    </div>

    <div class="content">
      <h1>Mis Pacientes</h1>
      <button class="button">Crear Ficha Paciente</button>

      <div class="patient-card">
        <div class="patient-info">
          <h3>Juan Soto Tarro</h3>
          <p>Tratamiento de Ortodoncia</p>
          <button class="button">Editar Ficha</button>
        </div>
      </div>

      <div class="patient-card">
        <div class="patient-info">
          <h3>Albert Andres</h3>
          <p>Caries y restauracion</p>
          <button class="button">Editar Ficha</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>