{% extends "base.html" %} <!-- Extendemos del BASE.html en la raiz de templates-->
{%block content%} <!--Cargamos el bloque en la raiz para modificarlo-->
{% load static %} <!-- Cargamos los archivos ESTATICOS para la pagina-->
<html>
 <head>
  <title>
   Perfil de Estudiante
  </title>
  <link rel="stylesheet" href='{% static "css/publicacion_estudiante.css" %}'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 </head>
 <body>

  <div class="sidebar">
    <h2>Perfil</h2>
    <a href="{% url 'infoestudiante' %}">Modificar Perfil</a>

    <h2>Mis Pacientes</h2>
    <a href="{% url 'pacientes_est' %}">Ver Pacientes</a>

    <h2>Publicación</h2>
    <a href="{% url 'publicacion_est' %}">Publicación en lodont</a>

    <h2>Notificaciones</h2>
    <a href="{% url 'notificaciones' %}">Ver Notificaciones</a>

    <h2>Mi Calendario</h2>
    <a href="{% url 'calendario' %}">Organizar horarios</a>
  </div>

  <div class="contentPubli" >
    <img alt="Profile picture of a person in a blue shirt" height="150" src="https://storage.googleapis.com/a1aa/image/kePi4pRmd8wqcSsE9UclNeYyTgV8WPd5cfIZJjta1iukwDHnA.jpg" width="150"/>
    <p>
        Hola, me llamo {{ user.first_name }} {{ user.last_name }}.
    </p>
    <ul>
        {{user.descripcion}}
    </ul>
    <p>
        Si tienes dudas sobre los tratamientos no dudes en hablarme por mis medios de comunicación:
    </p>
    <p>WhatsApp: +56 912312322</p>
    <p>Correo electrónico: {{ user.email }}</p>
</div>

  {% endblock %}
 </body>
</html>
