{% extends "base.html" %}
{% load static %}

{% block content %}

<link type="text/css" rel="stylesheet">
<h2>Ficha Clínica</h2>
<p><strong>Motivo de Consulta:</strong> {{ ficha_clinica.motivo_consulta }}</p>
<p><strong>Síntomas Actuales:</strong> {{ ficha_clinica.sintomas_actuales }}</p>
<p><strong>Diagnóstico:</strong> {{ ficha_clinica.diagnostico }}</p>
<p><strong>Tratamiento Actual:</strong> {{ ficha_clinica.tratamiento_actual }}</p>
<p><strong>Contacto de Emergencia:</strong> {{ ficha_clinica.nombre_contacto_emergencia }}</p>
<p><strong>Teléfono de Emergencia:</strong> {{ ficha_clinica.telefono_contacto_emergencia }}</p>





{% endblock %}
</body>
</html>
