<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Lista de Salas{% endblock %}
{% block titulo %}Lista de salas{% endblock %}
{% block content %}
{% load static %}
<link type="text/css" rel="stylesheet" href='{% static "css/style_basic.css" %}'>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Tu Sala Maipú 2024{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- SELECT 2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
    <!-- Jquery to All: -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href='{% static "css/style.css" %}'>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'horariosala:home' %}">
                    <img src='{% static "img/logo-duoc.svg" %}' , lightgray 50% / cover no-repeat; class="imglogo" />
                </a>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'horariosala:home' %}">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'horariosala:lista_salas' %}">Horario de Sala</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if request.user.id_tipo_user.nombre_tipo_usuario != 'Alumno' %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'horariosala:busca_salas' %}">Buscador de salas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'horariosala:Docentes' %}">Horario Docentes</a>
                                </li>
                            {% if request.user.id_tipo_user.nombre_tipo_usuario == 'Administrador' or request.user.id_tipo_user.nombre_tipo_usuario == 'Personal Administrativo' %}
                                <li class="nav-item">
                                    <a href="{% url 'horariosala:Solicitud_View' %}" class="nav-link">Solicitudes</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'horariosala:sabana' %}" class="nav-link">SABANA</a> <!--Enviar a sitio que permita descargar y actualizar SABANA-->
                                </li>
                            {% endif %}
                                
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'horariosala:logout' %}">Cerrar sesión</a>
                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'horariosala:login' %}" class="nav-link">Login</a>
                            </li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid principalmp">
        <div class="content">
            <!-- Display messages -->
            {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'info' %}
                <div class="alert alert-info">
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{ message|safe }}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    {{ message|safe }}
                </div>
            {% endif %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </div> 
    <style>
        /* CSS for the alert message */
        .alert {
            transition: opacity 0.5s ease-in-out; /* Add a transition for opacity */
        }
    
        /* CSS to hide the alert message */
        .alert-hidden {
            opacity: 0; /* Set opacity to 0 to hide the alert */
            height: 0; /* Optionally, you can set height to 0 to collapse the alert */
            overflow: hidden; /* Hide any content that might still be visible */
        }
    </style>
<script>
    // Function to hide and remove the alert after 5 seconds
    function hideAndRemoveAlert() {
        var alertDivs = document.querySelectorAll('.alert');
        alertDivs.forEach(function(alertDiv) {
            console.log("Alert div found, adding class 'alert-hidden'");
            setTimeout(function() {
                alertDiv.classList.add('alert-hidden'); // Hide the alert
                // Remove the alert from the DOM after it's hidden
                alertDiv.addEventListener('transitionend', function() {
                    alertDiv.remove();
                });
            }, 5000); // 5000 milliseconds = 5 seconds
        });
    }

    // Call the function when the page loads
    window.onload = hideAndRemoveAlert;

</script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</body>

</html>