{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href='{% static "css/login_y_registro.css" %}'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Mostrar u ocultar los campos de universidad, dirección y certificado según el tipo de usuario
        function toggleFields() {
            var tipoUsuario = $('#id_id_tipo_user').val();
            
            // Cambia la etiqueta del email según el tipo de usuario seleccionado
            var emailLabel = tipoUsuario == '2' ? 'Ingrese email (Ingrese Dominio Correspondiente a la Universidad Donde Estudia):' : 'Ingrese email:';
            $('label[for="id_email"]').text(emailLabel);
            
            if (tipoUsuario == '2') {  // '2' es el ID del tipo 'Estudiante', modificar si es otro
                $('#universidad-group').show();
                $('#direccion-universidad-group').show();
                $('#certificado-group').show();
            } else {
                $('#universidad-group').hide();
                $('#direccion-universidad-group').hide();
                $('#certificado-group').hide();
                $('#id_universidad').val('');
                $('#direccion-universidad').text('');
                $('#id_Certificado').val('');
            }
        }

        // Función para asociar la universidad según el correo electrónico
        function asociarUniversidad() {
            var email = $('#id_email').val();
            var dominio = email.split('@')[1];
            if (dominio == 'ug.uchile.cl') {
                $('#id_universidad').val('1');  // ID de "Universidad de Chile"
            } else if (dominio == 'ua.cl') {
                $('#id_universidad').val('2');  // ID de "Universidad Autónoma"
            } else if (dominio == 'uc.cl') {
                $('#id_universidad').val('3');  // ID de "Universidad Católica"
            } else {
                $('#id_universidad').val('');
            }
            actualizarDireccionUniversidad();
        }

        // Actualizar la dirección de la universidad seleccionada
        function actualizarDireccionUniversidad() {
            var universidadID = $('#id_universidad').val();
            if (universidadID) {
                $.ajax({
                    url: '{% url "obtener_direccion_universidad" %}',
                    data: {'universidad_id': universidadID},
                    success: function (data) {
                        $('#direccion-universidad').text(data.direccion);
                    }
                });
            } else {
                $('#direccion-universidad').text('');
            }
        }

        $('#id_id_tipo_user').change(function () {
            toggleFields();
        });

        $('#id_email').on('input', function () {
            asociarUniversidad();
        });

        toggleFields();
        actualizarDireccionUniversidad();
    });
</script>

<!-- Bloque para mostrar mensajes de Django -->
{% if messages %}
  <div class="alert-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="loginRegister d-flex justify-content-center">
    <main id="formLoginRegister" class="form-signin w-100 formLoginRegister">
        <form action="{% url 'registro' %}" method="post" enctype="multipart/form-data">
            <h1>Registrarse</h1>
            {% csrf_token %}
            
            <!-- Tipo de usuario -->
            <div class="grupo">
                <label for="id_id_tipo_user">Seleccione tipo de usuario:</label>
                {{ form.id_tipo_user }}
                {% if form.id_tipo_user.errors %}
                <div class="error">{{ form.id_tipo_user.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Email -->
            <div class="grupo">
                <label for="id_email">Ingrese email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="error">{{ form.email.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Campo de universidad (se muestra solo si el usuario es "Estudiante") -->
            <div class="grupo" id="universidad-group" style="display: none;">
                <label for="id_universidad">Universidad:</label>
                {{ form.universidad }}
                {% if form.universidad.errors %}
                <div class="error">{{ form.universidad.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Dirección de la universidad -->
            <div class="grupo" id="direccion-universidad-group" style="display: none;">
                <label>Dirección de la Universidad:</label>
                <p id="direccion-universidad"></p>
            </div>

            <!-- Nombre -->
            <div class="grupo">
                <label for="id_first_name">Ingrese Nombre:</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Apellido -->
            <div class="grupo">
                <label for="id_last_name">Ingrese Apellido:</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Número de teléfono -->
            <div class="grupo">
                <label for="id_num_tel">Ingrese Número (9 dígitos):</label>
                {{ form.num_tel }}
                {% if form.num_tel.errors %}
                <div class="error">{{ form.num_tel.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Dirección de residencia -->
            <div class="grupo">
                <label for="id_direccion">Ingrese su Dirección:</label>
                {{ form.direccion }}
                {% if form.direccion.errors %}
                <div class="error">{{ form.direccion.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Comuna -->
            <div class="grupo">
                <label for="id_comuna">Ingrese Comuna:</label>
                {{ form.comuna }}
                {% if form.comuna.errors %}
                <div class="error">{{ form.comuna.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Fecha de nacimiento -->
            <div class="form-grupo">
                <label for="id_fecha_nac">Ingrese Fecha de Nacimiento:</label>
                {{ form.fecha_nac }}
                {% if form.fecha_nac.errors %}
                <div class="error">{{ form.fecha_nac.errors|join:", " }}</div>
                {% endif %}
            </div>
            
            <!-- Contraseña -->
            <div class="grupo">
                <label for="id_password1">Ingrese Contraseña:</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Confirmación de contraseña -->
            <div class="grupo">
                <label for="id_password2">Confirme Contraseña:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- RUT -->
            <div class="grupo">
                <label for="id_rut">Ingrese RUT:</label>
                {{ form.rut }}
                {% if form.rut.errors %}
                <div class="error">{{ form.rut.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Certificado (solo para estudiantes) -->
            <div class="grupo" id="certificado-group" style="display: none;">
                <label for="id_Certificado">Certificado PDF:</label>
                {{ form.Certificado }}
                {% if form.Certificado.errors %}
                <div class="error">{{ form.Certificado.errors|join:", " }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.captcha.id_for_label }}">Verificación de seguridad</label>
                {{ form.captcha }}
                {% if form.captcha.errors %}
                    <div class="alert alert-danger">
                        {{ form.captcha.errors }}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit" class="registerbtn">Enviar</button>
        </form>
    </main>
</div>
{% endblock %}
