{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}Registro{% endblock %}
{% block content %}
{% load static %}
<link type="text/css" rel="stylesheet" href='{% static "css/login_y_registro.css" %}'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Función para mostrar u ocultar el campo de universidad según el tipo de usuario
        function toggleUniversidadField() {
            var tipoUsuario = $('#id_id_tipo_user').val();
            if (tipoUsuario == '2') {  // '2' es el ID del tipo 'Estudiante', modificar si es otro
                $('#universidad-group').show();  
            } else {
                $('#universidad-group').hide();  
                $('#id_universidad').val('');  // Limpiar el campo de universidad si no es estudiante
            }
        }

        // Función para asociar universidad según el correo electrónico
        function asociarUniversidad() {
            var email = $('#id_email').val();
            var dominio = email.split('@')[1];
            if (dominio == 'uch.cl') {
                $('#id_universidad').val('2');  // ID de "Universidad de Chile"
            } else if (dominio == 'ua.cl') {
                $('#id_universidad').val('3');  // ID de "Universidad Autónoma"
            } else if (dominio == 'uc.cl') {
                $('#id_universidad').val('1');  // ID de "Universidad Católica"
            } else {
                $('#id_universidad').val('');  // Limpiar si no es un correo válido
            }
        }

        // Mostrar/ocultar universidad según el tipo de usuario
        toggleUniversidadField();

        // Cada vez que se cambia el tipo de usuario
        $('#id_id_tipo_user').change(function () {
            toggleUniversidadField();
        });

        // Formatear el RUT al perder el enfoque
        $("#id_rut").focusout(function () {
            var rut = $(this).val();
            var rut_formateado = formateaRut(rut);
            $(this).val(rut_formateado);
        });

        // Detectar cambios en el correo electrónico
        $('#id_email').on('input', function () {
            asociarUniversidad();  // Actualiza el campo de universidad automáticamente
        });
    });
</script>

<!-- Bloque para mostrar mensajes de Django -->
{% if messages %}
  <div class="alert-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="loginRegister d-flex justify-content-center">
    <main id="formLoginRegister" class="form-signin w-100 formLoginRegister">
        <form action="{% url 'registro' %}" method="post"enctype="multipart/form-data">
            <h1>Registrarse</h1>
            {% csrf_token %}
            
            <!-- Tipo de usuario -->
            <div class="grupo">
                <label for="id_id_tipo_user">Seleccione tipo de usuario:</label>
                {{ form.id_tipo_user }}
                {% if form.id_tipo_user.errors %}
                <div class="error">{{ form.id_tipo_user.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Email -->
            <div class="grupo">
                <label for="id_email">Ingrese email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="error">{{ form.email.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Campo de universidad (se muestra solo si el usuario es "Estudiante") -->
            <div class="grupo" id="universidad-group" style="display: none;">
                <label for="id_universidad">Universidad:</label>
                {{ form.universidad }}
                {% if form.universidad.errors %}
                <div class="error">{{ form.universidad.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Nombre -->
            <div class="grupo">
                <label for="id_first_name">Ingrese nombre:</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Apellido -->
            <div class="grupo">
                <label for="id_last_name">Ingrese apellido:</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Número de teléfono -->
            <div class="grupo">
                <label for="id_num_tel">Ingrese Número (9 dígitos):</label>
                {{ form.num_tel }}
                {% if form.num_tel.errors %}
                <div class="error">{{ form.num_tel.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Dirección -->
            <div class="grupo">
                <label for="id_direccion">Ingrese Dirección:</label>
                {{ form.direccion }}
                {% if form.direccion.errors %}
                <div class="error">{{ form.direccion.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Fecha de nacimiento -->
            <div class="form-grupo">
                <label for="id_fecha_nac">Ingrese Fecha de Nacimiento:</label>
                {{ form.fecha_nac }}
                {% if form.fecha_nac.errors %}
                <div class="error">{{ form.fecha_nac.errors|join:", " }}</div>
                {% endif %}
            </div>
            
            <!-- Contraseña -->
            <div class="grupo">
                <label for="id_password1">Ingrese contraseña:</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- Confirmación de contraseña -->
            <div class="grupo">
                <label for="id_password2">Confirme contraseña:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors|join:", " }}</div>
                {% endif %}
            </div>

            <!-- RUT -->
            <div class="grupo">
                <label for="id_rut">Ingrese RUT:</label>
                {{ form.rut }}
                {% if form.rut.errors %}
                <div class="error">{{ form.rut.errors|join:", " }}</div>
                {% endif %}
            </div>

            {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors|join:", " }}</div>
            {% endif %}

             <!-- Campo de documento PDF (solo para estudiantes) -->
    
             <div class="grupo" id="certificado-group" style="display: none;">
                <label for="id_Certificado">Certificado PDF:</label>
                {{ form.Certificado }}
                {% if form.Certificado.errors %}
                <div class="error">{{ form.Certificado.errors|join:", " }}</div>
                {% endif %}
            </div>
            
            <button type="submit" class="registerbtn">Enviar</button>
        </form>
        <script>
            $(document).ready(function () {
                function toggleFields() {
                    var tipoUsuario = $('#id_id_tipo_user').val();
                    if (tipoUsuario == '2') {  // ID de "Estudiante"
                        $('#universidad-group').show();
                        $('#certificado-group').show();
                    } else {
                        $('#universidad-group').hide();
                        $('#certificado-group').hide();
                        $('#id_universidad').val('');
                        $('#id_Certificado').val('');  // Limpiar archivo si no es estudiante
                    }
                }
        
                // Ejecutar toggleFields cuando el tipo de usuario cambia
                $('#id_id_tipo_user').change(function () {
                    toggleFields();
                });
        
                // Ejecutar toggleFields cuando la página cargue por primera vez
                toggleFields();
            });
        </script>
    </main>
</div>

{% endblock %}
