{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/filtro.css' %}">
</head>

<main>

    <div class="content-panel">
        <div class="container">
            <h2>Filtrar Estudiantes</h2>

            <!-- Contenedor del filtro -->
            <form id="filterForm" method="get" action="{% url 'filtrar_estudiantes' %}">
                <div class="filtro-container">
                    <input type="text" id="searchInput" name="q" placeholder="Buscar estudiante..." onkeyup="filterServices()" />



                    <select id="universitySelect" name="universidad"
                        style="display: inline-block !important; visibility: visible !important;">
                        <option value="">Todas las Universidades</option>
                        {% for universidad in universidades %}
                        <option value="{{ universidad.id }}">{{ universidad.nombre }}</option>
                        {% endfor %}
                    </select>

                    <select id="treatmentSelect" name="tratamiento">
                        <option value="">Todos los Tratamientos</option>
                        {% for tratamiento in tratamientos %}
                        <option value="{{ tratamiento.id }}">{{ tratamiento.nombreTratamiento }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Filtrar</button>
                </div>
            </form>
<!-- Lista de estudiantes con filtro aplicado -->
            <div id="servicesList">
                {% if estudiantes %}
                {% for estudiante in estudiantes %}
                <div class="col-md-4 servicio" data-university="{{ estudiante.universidad.id }}"
                    data-treatment="{{ estudiante.tratamientos.all|join:',' }}">
                    <div class="card">
                        <div class="card-header">
                            {% if estudiante.imageBlob %}
                            <img src="{{ estudiante.imageBlob.url }}" alt="Imagen del estudiante" width="150"
                                height="150">
                            {% else %}
                            <img src="{% static 'path/to/default/image.png' %}" alt="Imagen por defecto" width="150"
                                height="150"> <!-- Cambia el path a tu imagen por defecto -->
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ estudiante.first_name }} {{ estudiante.last_name }}</h3>
                            <p class="card-text">{{ estudiante.descripcion|linebreaksbr }}</p>
                            <p>Universidad: {{ estudiante.universidad.nombre }}</p>
                            <p>Tratamientos Disponibles:</p>
                            <ul>
                                {% for tratamiento in estudiante.obtenerTratamiento %}
                                <li>{{ tratamiento.nombreTratamiento }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'tratamientosEstudiante' estudiante.id %}" class="btn btn-primary">Agendar
                                Cita</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No se encontraron estudiantes que coincidan con los criterios de búsqueda.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/filtro.js' %}"></script>

{% endblock %}