{% extends "base.html" %} <!-- Extendemos del BASE.html en la raiz de templates-->
{%block content%} <!--Cargamos el bloque en la raiz para modificarlo-->
{%load static %} <!-- Cargamos los archivos ESTATICOS para la pagina-->
<header>
    <!--Image IODENT-->
    <h1>Bienvenidos a IODONT!</h1> <!--Botton blue with-->
</header>

<main id="home">
    <!--Row, col-4 TEXT, col-4 image 1, col-4 image 2-->
    <div class="row">
        <div class="col-4">
            <h3>
                ¿De qué se trata IODONT?
            </h3>
            <p>
                IODONT es una plataforma orientada a los estudiantes de odontología de diversas instituciones, con la finalidad 
                de que estos puedan acercarse a sus pacientes sin la necesidad de recurrir a un método externo. Una buena 
                oportunidad para estos jóvenes!
            </p>
        </div>
            <h3>
                Las atenciones con los estudiantes
            </h3>
            <p>
                IODONT conecta a los estudiantes más disciplinados y confiables para que el paciente esté siempre cómodo y
                satisfecho
            </p>
        </div>
    </div>
    <!--Row, -->
    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="row">
        <h2>Equipo Adecuado.</h2>
        <p id="parrafos">Los estudiantes poseen el equipo adecuado para todos sus tratamientos.</p>
    </div>
    <div class="row"></div>
    <!--Row, list of images, to check -->
</main>

<div>
    <h1 class="agenda">Agenda una hora! Nuestros estudiantes estarán listos para atenderte.</h1>
    <!--  -->
     <a href="{% url 'horarios' %}"><button class="button">Agendar Hora</button></a>
</div>

<div class="imagenes">
    <img src="{% static 'img/DENTAL_1.jpg' %}" alt="Imagen 1" class="imagen_estilo">
    <img src="{% static 'img/DENTAL_2.jpg' %}" alt="Imagen 2" class="imagen_estilo">
    <img src="{% static 'img/DENTAL_3.jpg' %}" alt="Imagen 3" class="imagen_estilo">
    <img src="{% static 'img/odontanimado.jpg' %}" alt="Imagen 4" class="imagen_estilo">
</div>


<!--Footer, 2 rows, 1 big with contact sites & map, the other one with menu links & contact info...-->
<!-- 
<footer class="">
    <p id="contacto">CONTACTANOS!</p>
    <div class="contact-info">
        <i class="fas fa-phone-alt"> +569 8673 5309</i>
        <i class="fas fa-mail-bulk"> iodont@gmail.com</i>
        <i class="fas fa-search-location"> Avenida Beauchef 850 8370448 Santiago</i>
    </div>
    <p id="contacto">© 2024 IODONT</p> -->
</footer>
{% endblock %}