{% extends "base.html" %}
{% block content %}
{% load static %}
<link type="text/css" rel="stylesheet" href='{% static "css/servicios.css" %}'>



<section class="layout-contenedor">
    </div>

    <!-- Sección de servicios (contenido principal) -->
    <div class="content-panel">
        <div class="container">
            <h2>Servicios y tratamientos dentales ofrecidos por los estudiantes</h2>
            <h5>Cada estudiante proporciona sus servicios de acuerdo al año que este cursando. Para saber que servicios ofrece cada estudiante puedes ver en el perfil del estudiante y ponerte en contacto con el. Aquí te explicaremos a grandes rasgos algunos de los tratamientos que ofrecen los estudiantes para que tengas la mejor experiencia en tu salud bucal.</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/exodoncia.jpg' %}" alt="Limpieza dental">
                        <h3>Exodoncia</h3>
                        <p>Procedimiento de extracción dental en casos de dientes dañados, fracturados o que generan problemas de espacio, realizado de manera segura y sin dolor.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/cavidadesacceso.jpg' %}" alt="Extracción de muelas">
                        <h3>Cavidades de Acceso</h3>
                        <p>Apertura en la corona del diente para acceder a los conductos radiculares y realizar el tratamiento endodóntico (tratamiento de conducto).</p>
                    </div>
                </div>

                
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/protesis.jpg' %}" alt="Implantes dentales">
                        <h3>Confección y Diseño de Prótesis Removibles:</h3>
                        <p>Elaboración de prótesis dentales que pueden retirarse, diseñadas para reemplazar dientes perdidos, mejorando la función y estética.</p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/periodontitis.png' %}" alt="Implantes dentales">
                        <h3>Tratamiento Periodontal</h3>
                        <p>Terapia destinada a tratar y prevenir enfermedades de las encías y los tejidos de soporte dental, como gingivitis y periodontitis.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/sellantes.jpeg' %}" alt="Implantes dentales">
                        <h3>Sellantes</h3>
                        <p>Aplicación de una capa protectora sobre los molares y premolares para prevenir la aparición de caries, especialmente en niños y adolescentes.</p>
                    </div>
                </div>     
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/endodoncia.jpg' %}" alt="Implantes dentales">
                        <h3>Endodoncia</h3> 
                        <p>Conocido como "tratamiento de conducto", consiste en eliminar la pulpa dental infectada, limpiar los conductos y sellarlos para salvar el diente.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/restauraciones.jpg' %}" alt="Implantes dentales">
                        <h3>Restauraciones</h3>
                        <p>Reparación de dientes dañados por caries o fracturas mediante empastes o reconstrucciones estéticas que devuelven la forma y función.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/endodoncia_ninos.jpg' %}" alt="Implantes dentales">
                        <h3>Endodoncia en Niños</h3>
                        <p>Procedimiento especializado para tratar infecciones o lesiones en los dientes primarios de los niños, conservando su salud dental.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="servicio">
                        <img src="{% static 'img/ProtesisFija.png' %}" alt="Implantes dentales">
                        <h3>Prótesis Fija</h3>
                        <p>Colocación de coronas, puentes u otros elementos que reemplazan dientes perdidos de forma permanente, mejorando la función y la apariencia.</p>
                    </div>
                </div>
            </div>
        </div>

</section>
<footer class="footer">
    <p id="contacto">CONTACTANOS!</p>
    <div class="contact-info">
        <i class="fas fa-phone-alt"> +569 8673 5309</i>
        <i class="fas fa-mail-bulk"> iodont@gmail.com</i>
        <i class="fas fa-search-location"> Avenida Beauchef 850 8370448 Santiago</i>
    </div>
    <p id="sobre">Sobre IODONT: Ofrecemos una plataforma que conecta estudiantes de odontología con pacientes.</p>
    
    <!-- Sección de redes sociales -->
    <div class="social-media">
        <a href="https://www.instagram.com/tu_perfil" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/tu_perfil" target="_blank" class="social-icon">
            <i class="fab fa-x"></i> <!-- O usa fa-twitter si prefieres -->
        </a>
    </div>

    <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.012663705892!2d-70.65392242344316!3d-33.42291419610396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5c0cad15219%3A0x6e51f06ba79ddd4!2sAv.%20La%20Paz%20750%2C%20Independencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1730491168541!5m2!1ses!2scl"
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
    
    <p id="contacto">© 2024 IODONT, Ltda. Todos los derechos reservados</p>
</footer>


{% endblock %}