body {
    font-family: sans-serif;
    display: flex;
  }

  .sidebar {
    background-color: #007bff;
    color: white;
    padding: 20px;
    width: 239px;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }

  .content img {
    width: 150px;
    border-radius: 50%;
}

  .sidebar h2 {
    font-size: 26px;
}

  h2{
    width: 100px;
  }

  .content {
    padding: 20px;
    flex-grow: 1;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .logo {
    text-align: center;
    margin-top: 20px;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
}