.container {
  display: flex;
}

.sidebar {
  background-color: #007bff;
  color: white;
  padding: 20px;
  width: 260px;
  position: fixed; /* Fijar la sidebar al lado derecho */
  right: 0; /* Asegurar que esté pegada al lado derecho */
  top: 0; /* Asegurar que esté pegada al tope */
  height: 100%; /* Asegurar que ocupe toda la altura de la pantalla */
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 0;
}

.content img {
  width: 150px;
  border-radius: 50%;
}

.sidebar h2 {
  font-size: 26px;
}

h2 {
  width: 100px;
}

.infoPe {
  padding: 20px;
  flex-grow: 1;
  display: block;
  position: relative; /* Cambiar de absolute a relative */
  margin-right: 260px; /* Asegurar que no se superponga con la sidebar */
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.logo {
  text-align: center;
  margin-top: 20px;
}