body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #007bff;
  color: white;
  padding: 20px;
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar h2 {
  font-size: 26px;
  margin-top: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 0;
}

.infoPe {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: 0 auto;
  margin-left: calc(600px + 10%);
  margin-right: 10%;
}

.infoPe h1 {
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.img {
  text-align: center;
  margin-bottom: 30px;
}

.img img {
  border-radius: 50%;
  border: 3px solid #4682B4;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

form {
  display: grid;
  gap: 20px;
}

form p {
  margin: 0;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

form textarea {
  height: 120px;
  resize: vertical;
}

form button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

form button[type="submit"]:hover {
  background-color: #36648B;
}

.alert-container {
  margin-bottom: 20px;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.logo {
  text-align: center;
  margin-top: 20px;
}


nav {
  margin-left: 1000px; /* Mismo ancho que el sidebar */
}