body {
    font-family: sans-serif;
    display: flex;
  }


.sidebar {
    background-color: #007bff;
    color: white;
    padding: 20px;
    width: 200px;
}


.sidebar h2, .sidebar p {
    margin: 26px 0;
}
.sidebar h2 {
    font-size: 26px;
}
.sidebar p {
    font-size: 14px;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    text-decoration: underline;
}