body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #007bff;
    color: white;
    padding: 20px;
    width: 260px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .sidebar h2 {
    font-size: 26px;
    margin-top: 20px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 0;
  }
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 260px; /* Ancho del sidebar */
}

.main-content h2 {
    color: #333;
    margin-bottom: 20px;
}

.list-group-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item img {
    margin-right: 15px;
}

.alert {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert img {
    margin-right: 15px;
}
nav {
    margin-left: 1000px; /* Mismo ancho que el sidebar */
  }